<ion-view view-title="{{vm.info.title || 'Radio en linea'}}">
<ion-content class="center" style="
		background: url({{vm.info.coverUrl || 'img/image_radio.png'}}) center center;
		background-size: cover;">
		<center>
		<!--	<a class="button button-icon icon play-button-icon {{ vm.isPlaying ? 'ion-ios-pause' : 'ion-ios-play' }}"
			ng-click="vm.togglePlay()"></a>
		</center>

		<audio  autoplay="autoplay"><source src=" http://69.64.58.8:8005/;stream.mp3" type="audio/mp3">Your browser does not support the audio element.</audio> -->

        <a href="http://69.64.58.8:8003/;stream/1" target="_blank">Reproducir</a>
        <a href="mp3/listen.pls" target="_blank">Reproducir</a>

		<button class="button" ng-click="Play('http://69.64.58.8:8003/;stream/1')">Reproducir 1</button>
		<button class="button" ng-click="Play('mp3/imaginate.mp3')">Reproducir 2 Fijo</button>

		<button class="button" ng-click="Play('mp3/listen.mp3')">Reproducir 4</button>


<button class="button" ng-click="Play('http://stream.4zzzfm.org.au:789/;')">Emisora prueba 5</button>



		<button class="button" ng-click="Play('http://69.64.58.8:8005/;')">Reproducir 6</button>
		<button class="button" ng-click="Play('http://69.64.58.8:8005/;stream')">Reproducir 8</button>
		<button class="button" ng-click="Play('http://69.64.58.8:8005/;stream.mpeg')">Reproducir 9</button>


	</ion-content>
	


</ion-view>
