<ion-view view-title="{{vm.info.title || 'Radio En linea'}}">

<ion-content class="center" style="">

	<h2>Emisora</h2>
  	  <div id="playcontrols">
		  <a href="#" id="playbutton" onClick="html5audio.play();return false;"><img src="images/playbutton.png" /></a>
		  <a href="#" id="activityindicator" onClick="html5audio.stop();return false;"><img src="images/activityindicator.gif" /></a>
		  <a href="#" id="stopbutton" onClick="html5audio.stop();return false;"><img src="images/stopbutton.png" /></a>
	  </div>
	  <div id="textpositiondiv">Time played: <span id="textposition">stopped</span></div>
	  <script type="text/javascript">
		  playButton = document.getElementById('playbutton');
		  stopButton = document.getElementById('stopbutton');
		  activityIndicator = document.getElementById('activityindicator');
		  textPosition = document.getElementById('textposition');
	  </script>

	 
	</ion-content>
	


</ion-view>
